@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.form-control{
    max-width: 500px;
}

.logo{
    color: tomato;
}

#logo{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

form.mt-2{
    display: inline;
}
